html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  color: $white;
  //font-family: Ruda, sans-serif;
  font-family: 'Aileron', sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d64d51+0,3b3652+100 */
    background: #3b3652; /* Old browsers */
    background: -moz-linear-gradient(left, #d64d51 0%, #3b3652 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d64d51 0%, #3b3652 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d64d51 0%, #3b3652 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d64d51', endColorstr='#3b3652', GradientType=1); /* IE6-9 */

    main {

      //cursor: url('./../images/fusee.svg') 2 2, auto;

      #about_btn {
        display: none;
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 0;
        margin: 0;
        font-size: 25px;
        z-index: 2;
        font-weight: 700;
        cursor: pointer;
        border-bottom: 2px solid $white;
      }

      #about_modal {
        display: none;
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 100%;
        z-index: 3;
        color: $black;
        opacity: 0;

        #about_close {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }

        #contenu_about {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          font-size: 36px;

          #pictos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            width: 100%;

            div {
              height: 200px;
              width: 200px;

              img {
                height: 200px;
                width: 200px;
              }

              &:after {
                font-size: 40px;
                font-family: 'League Gothic', sans-serif;
                font-weight: normal;
                font-style: italic;
              }

              &#micka {
                margin-right: 70px;
                &:after {
                  content: 'Mickaël Debalme';
                }
              }

              &#nitya {
                margin-left: 70px;
                &:after {
                  content: 'Nitya Tchangodei';
                }
              }
            }
          }

          #logos {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;
            width: 600px;

            img {

              &#logo_gobelins {
                height: 80px;
                width: auto;
              }

              &#logo_cci {
                height: 40px;
                width: auto;
              }
            }
          }
        }

        #sources {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 4;
        }
      }

      #stars {
        z-index: -1;
      }

      #mobile_view {
        display: none;
      }

      #fullpage {

        display: none;

        .section {

          position: relative !important;

          &:not(:first-child) {
            //opacity: 0;
          }

          .flex_blocs_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
          }

          .fifty_fifty {

            width: 100%;
            height: auto;
            position: relative;
            top: 30px;

            .left {
              float: left;
              width: 50%;
              height: 100%;
            }

            .right {
              margin-left: 50%;
              height: 100%;
            }

            &.h200 {
              height: 200px;

              .left {
                height: 200px;
              }

              .right {
                height: 200px;
              }
            }
          }

          .top_text {
            height: auto;
            top: 5%;
            width: 70%;
            left: 15%;
            text-align: center;
          }

          .relative_text {
            height: auto;
            width: 70%;
            left: 15%;
            text-align: center;
          }

          .left_text {
            width: 80%;
            text-align: justify;
            position: relative;
            top: 25px;
            font-size: 33px;
            margin-left: 20px;
          }

          .centered_text {
            text-align: justify;
            width: 1250px;
            left: calc(50vw - 625px);
          }

          .center {
            text-align: center !important;
          }

          .top_text, .centered_text, .relative_text {
            position: relative;
            z-index: 4;

            p {
              &.headline {

                &.league {
                  font-family: 'League Gothic', sans-serif;
                  font-weight: normal;
                  font-style: italic;

                }

                &.big {
                  font-size: 33px;

                  &.league {
                    font-size: 47px;
                  }

                  strong {
                    font-weight: 700;
                    //font-size: 40px;
                  }
                }

                &.medium {
                  font-size: 30px;

                  &.league {
                    font-size: 44px;
                  }

                  strong {
                    font-weight: 700;
                    //font-size: 35px;
                  }
                }
              }

              &.link {
                a {
                  img {
                    height: 150px;
                    max-width: 600px;
                  }
                }
              }
            }
          }

          &#landing {

            #title_container {
              position: relative;
              width: 552px;
              height: 552px;
              top: calc(50vh - 326px);
              margin: 0;
              left: calc(50vw - 261px);
              z-index: 2;
              opacity: 0.5;
              text-transform: uppercase;
              font-family: 'League Gothic', sans-serif;
              font-weight: normal;
              font-style: italic;


              &:before {
                position: absolute;
                content: 'Demain,';
                font-size: 200px;
                left: -400px;
                top: calc(50% - 100px);
              }

              &:after {
                position: absolute;
                content: 'Mars ?';
                font-size: 200px;
                right: -350px;
                top: calc(50% - 100px);
              }
            }

            #patates {

              .patate {
                backface-visibility: hidden;
                position: absolute;
                height: auto;
                opacity: 0.5;

                &.one {
                  width: 1300px;
                  top: 500px;
                  left: -750px;
                }

                &.two {
                  width: 1400px;
                  top: 700px;
                  right: -750px;
                }

                &.three {
                  width: 1500px;
                  top: -300px;

                  -moz-transform: scale(1, -1) rotate(20deg);
                  -webkit-transform: scale(1, -1) rotate(20deg);
                  -o-transform: scale(1, -1) rotate(20deg);
                  -ms-transform: scale(1, -1) rotate(20deg);
                  transform: scale(1, -1) rotate(20deg);
                }
              }
            }

            #cometes {

              .comete {
                backface-visibility: hidden;
                position: absolute;
                height: auto;

                &.one {
                  width: 400px;
                  top: -100px;
                  left: -400px;
                  transform: rotate(4deg);
                }

                &.two {
                  width: 200px;
                  top: -80px;
                  left: -500px;
                  transform: rotate(4deg);
                }

                &.three {
                  width: 180px;
                  top: -430px;
                  left: 920px;
                  transform: rotate(95deg);
                }

                &.four {
                  width: 300px;
                  top: -300px;
                  left: 300px;
                  transform: rotate(4deg);
                }

                &.five {
                  width: 250px;
                  top: -230px;
                  left: 800px;
                  transform: rotate(4deg);
                }
              }
            }
          }

          #outro_container {
            position: relative;
            width: 552px;
            height: 552px;
            top: calc(50vh - 276px);
            margin: 0;
            left: calc(50vw - 261px);
            z-index: 2;
            //opacity: 0.5;
          }

          #outro_title {
            position: absolute;
            text-transform: uppercase;
            font-family: 'League Gothic', sans-serif;
            font-weight: normal;
            font-style: italic;

            font-size: 150px;
            top: calc(50vh - 140px);
            width: 100%;
            text-align: center;
            z-index: 3;
          }

          #choix_mission {
            position: relative;
            top: 40px;
            font-size: 40px;
            text-transform: uppercase;
            font-family: 'League Gothic', sans-serif;
            font-weight: normal;
            font-style: italic;

            width: 300px;
            left: calc(50vw - 150px);
            z-index: 3;
            text-align: center;

            &:before {
              content: url('../assets/images/SpaceX-Logo.svg');
              //content: url('../../public/build/images/SpaceX-Logo.svg');
              height: 40px;
              width: auto;
              border: 2px solid white;
              position: absolute;
              left: -400px;
              top: -10px;
              padding: 10px;

              svg {
                fill: #FFFFFF !important;
              }
            }

            &:after {
              content: url('../assets/images/marsone.svg');
              //content: url('../../public/build/images/marsone.svg');
              height: 40px;
              width: 200px;
              border: 2px solid white;
              position: absolute;
              right: -300px;
              top: -10px;
              padding: 10px;
            }
          }
        }
      }

      .mouse {
        position: absolute;
        margin: 50px auto;
        width: 100px;
        bottom: 0;
        left: calc(50% - 50px);
        opacity: 0;

        .mouse-icon {
          width: 25px;
          height: 45px;
          border: 2px solid white;
          border-radius: 15px;
          cursor: default;
          position: relative;
          text-align: center;
          margin: auto;

          .mouse-wheel {
            height: 6px;
            margin: 2px auto 0;
            display: block;
            width: 3px;
            background-color: $white;
            border-radius: 50%;
            -webkit-animation: 1.6s ease infinite wheel-up-down;
            -moz-animation: 1.6s ease infinite wheel-up-down;
            animation: 1.6s ease infinite wheel-up-down;
          }
        }
      }
    }
  }
}
